.navbar {
  position: absolute;
  bottom: 0;
  height: 56px;
  width: 100%;
  background: var(--primary-blue-color);

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  mat-icon {
    color: white;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }
}
