<div class="navbar" color="primary">
  <button
    mat-icon-button
    *ngFor="let button of navigationArray"
    (click)="toggleActiveButton(button)"
  >
    <mat-icon [class.active]="button.isActive">{{ button.icon }}</mat-icon>
  </button>
</div>
