<div class="d-flex">
  <button mat-button class="mat-h2">{{ data?.title }}</button>
</div>
<div class="wrapper">
  <app-anime-card
    *ngFor="let anime of data?.animes"
    [anime]="anime"
  ></app-anime-card>
</div>
