button {
  color: #e4e4e4;
  font-size: 20px;
  margin: 10px 0 0 10px;
  padding: 16px 12px;
}

.wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 10px 0;
  overflow-x: auto;

  app-anime-card {
    padding: 5px;
  }
}
