.anime {
  display: inline-flex;
  background: var(--primary-blue-color);
  width: 300px;
  height: 100px;

  .anime-cover-container {
    width: 100px;
    margin: -16px 0 -16px -16px;

    .anime-cover {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: 50%;

      border-radius: 4px 0 0 4px;
    }
  }

  mat-card-content {
    margin: 5px 0 0 5px;
    max-width: 200px;

    p,
    h4 {
      color: #8a9099;
      margin: 0;
    }

    h3 {
      color: #d2d7de;
    }
    h4 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
