<mat-card class="anime" (click)="navigateToDetails()">
  <div class="anime-cover-container">
    <div
      class="anime-cover"
      [style.background-image]="'url(' + anime.media.coverImage.large + ')'"
    ></div>
  </div>
  <mat-card-content>
    <h4>{{ anime?.media.title.romaji }}</h4>
    <h3>{{ anime?.media.seasonYear }}</h3>
    <p>{{ anime?.progress }}/{{ anime?.media.episodes }}</p>
  </mat-card-content>
</mat-card>
