.banner {
  width: 100%;
  height: 210px;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0px -29px 48px -40px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -29px 48px -40px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -29px 48px -40px rgba(0, 0, 0, 0.75);
}

.infos {
  padding: 1rem;
  height: 100px;
  background-color: var(--primary-blue-color);
}
