<div
  class="banner"
  *ngIf="anime"
  [style.background-image]="'url(' + anime.media.bannerImage + ')'"
></div>
<div class="infos">
  <div class="actions"></div>
  <div>
    <h2>
      {{ anime?.media.title.romaji }}
    </h2>
  </div>
</div>
